* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Arial, sans-serif;
        background: rgb(230, 230, 230);
}

#top {
	margin: 1em 10% 1em 0;
	padding-left: 1em;
	background: url(../img/1.png) 0 0 repeat-x;
	border: 3px solid #fff;
	border-left: 0;
    font-family: Arial,Helvetica,sans-serif;
}

#top h1 {
	padding: 1em 0;
}

#top ul {
	float: left;
}

#top ul li {
	float: left;

}

li {
	list-style-type: none;
}

#top ul li a {
	color: #fff;
	background: #000;
	display: block;
	padding: 5px;
	margin: 5px 5px -3px 5px;
	text-decoration: none;
}

#top ul li a:hover {
	color: #000;
	background: #fff;
	margin-top: 0;
	padding: 6px 5px 2px 5px;
	border-top: 4px solid #000;
	border-bottom: 3px solid #000;
}

#content {
	margin: 1em 0 1em 10%;
	background: #6d6dd9;
	border: 3px solid #fff;
	border-right: 0;
}

#content h1 {
        padding: 0.5em;
}

#content p, #content li {
        padding: 0.75em 2em;
}

#footer {
	padding: 1em;
	text-align: center;
	margin: 1em 10% 0 10%;
	background: url(../img/1.png) 0 0 repeat-x;
	border: 3px solid #fff;
	border-bottom: 0;
}
